---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, headerDataEn, footerData, footerDataEn } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const isEn = Astro.url.pathname === '/en' || Astro.url.pathname.startsWith('/en/');
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...(isEn ? headerDataEn : headerData)} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...(isEn ? footerDataEn : footerData)} />
  </slot>
</Layout>
